body {
  background-color: #f0f1f2;
  font-family: "Nunito", sans-serif;
}

section {
  margin-top: 3.5rem;
}

.container-fluid {
  max-width: 1300px;
}

#mainNavbar {
  font-size: 1.25rem;
}

#mainNavbar .navbar-brand {
  font-size: 1.75rem;
  font-weight: 600;
}

.nav-link {
  font-weight: 400;
}

.navbar-brand,
.nav-item,
.nav-link {
  color: #70baf3;
}

#mainNavbar .navbar-toggler {
  box-shadow: none;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #7699b5;
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler-icon {
  display: block;
  padding: 0;
}

.top-btn {
  display: none;
  z-index: 100;
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

@media screen and (max-width: 400px) {
  .top-btn {
    bottom: 1rem;
    right: 1.5rem;
  }
}

.show-top-btn {
  display: block;
}

.nav-active {
  background-color: #dbdbdb;
  transition: background 250ms ease-in;
}

.off-active {
  background-color: transparent;
  transition: background 250ms ease-in;
}

.sticky {
  background-color: #dbdbdb;
  transition: background 250ms ease-in;
}
@media screen and (max-width: 400px) {
  #mainNavbar .navbar-brand {
    font-size: 1.45rem;
    margin: 0;
  }

  .navbar-toggler {
    padding: 0;
    font-size: 1.25rem;
  }

  .navbar-toggler-icon {
    display: block;
    padding: 0;
  }
}

#heading-group h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

#heading-group span {
  color: #7699b5;
}

@media screen and (max-width: 875px) {
  #heading-group h2 {
    font-size: 2.15rem;
  }
}

.section-header h2,
.section-header p {
  font-weight: 200;
  color: #5190c4;
}

.section-header svg {
  width: 2rem;
  height: 2rem;
}

.blurb .lead {
  line-height: 2;
}

.icon {
  color: #5190c4;
}

.carousel-caption h4,
.carousel-caption p {
  font-weight: 600;
  color: white;
  background-color: #5190c4;
  border-radius: 3px;
  padding: 0.5rem 0;
}

.carousel-item img {
  display: block;
  width: 100%;
  height: 15rem;
}

#offers {
  width: 80%;
  margin: 3.5rem auto;
}

label {
  color: #5190c4;
  font-size: 1.25rem;
}

footer {
  background-color: #dbdbdb;
}
